---
layout: default
title: Über mich
description: "Erfahren Sie mehr zu meiner Person, meinen Hobbys und Fähigkeiten. So wissen Sie bereits im Voraus ein
bisschen besser, auf wen Sie sich einlassen."
class: about
ref: about
---
{% assign age = site.time | date: '%Y' | minus: 1991 %}
{% assign month = site.time | date: '%m' | minus: 0 %}
{% assign day = site.time | date: '%d' | minus: 0 %}
{% if 2 > month or 2 == month and 14 > day %}
{% assign age = age | minus: 1 %}
{% endif %}
<div class="text space-block">
  <div class="center">
    <img src="{{ site.imageBase }}/2/schaechinger.jpg" class="me">
  </div>
  <div class="text__container">
    <h1>Hi, ich bin Manuel.</h1>

    <p>Ich bin {{ age }} Jahre alt und lebe in München. Schon während meines Informatik Studiums an der
      Hochschule für angewandte Wissenschaften München habe ich mich auf die Webentwicklung spezialisiert.
      Neben den gängigen Technologien wie HTML, CSS und PHP habe ich mich JavaScript verschrieben.
      Hier wird einfach alles vereint. Das schlanke Design der Sprache sowie die asynchrone Verarbeitung
      lassen sich auf alle Geräte und Anwendungsgebiete ausweiten. Nicht nur für das Frontent, was
      seit Angular und React die Stärken von JavaScript endlich nutzt, sondern dank Node.js auch für das
      Backend, mittels Frameworks sind sogar Desktop- und Mobile-Apps möglich.
      Mir gefällt die klare Struktur in allen Bereichen und die Flexibilität, die man bei der Lösung der
      unterschiedlichsten Anforderungen genießen kann.</p>

    <p>Neben der Programmierung suche ich nach Herausforderungen abseits des Rechners: Meine Leidenschaft
      ist das Laufen, ich trainiere fast immer für den nächsten Wettkampf und versuche mich stetig zu
      verbessern und weitere Strecken zu absolvieren. Nach dem Berlin Marathon 2017 und dem Chicago Marathon im letzten
      Jahr ist mein Highlight
      dieses Jahr der New York City Marathon im November.<br>
      Wenn die Beine einmal nicht mehr wollen, geht es auf dem Mountainbike weiter und an die Isar oder
      in den nächsten Biergarten.</p>
  </div>
</div>

<div class="year block--inverted">
  <div class="year__container">
    <h2>Mein Jahr in Zahlen</h2>
    <div>
      {% include glyphicons.html icon="393-medal" %}
      <p>{{ site.data.about.year.marathons }}</p>
      <h3>Marathon{% if 1 != site.data.about.year.marathons %}s{% endif %}</h3>
    </div>
    <div>
      {% include glyphicons.html icon="554-handshake" %}
      <p>{{ site.data.about.year.projects }}</p>
      <h3>Projekt{% if 1 != site.data.about.year.projects %}e{% endif %}</h3>
    </div>
    <div>
      {% include glyphicons.html icon="281-coffee-to-go" %}
      <p class="calc-coffees">318</p>
      <h3>Kaffees</h3>
      <script>window.procStorage.push('calc-coffees');</script>
    </div>
  </div>
</div>

<div class="text space-block">
  <div class="text__container">
    <p>Ich interessiere mich für städtische Architektur jeder Art und habe ein Faible für Clean Design
      und die damit verbundene Schönheit der Einfachheit moderner UI, die für die optimale Fertigstellung
      eines jeden Projekts unerlässlich ist.</p>

    <p>Sehr wichtig ist mir das Reisen um die Welt, um verschiedene Länder und deren Kulturen kennen
      zu lernen. Der Blog spiegelt diesen bunten Mix aus Reisen, Sportevents und
      Coding-Themen wider und gibt Ihnen ein paar Einblicke in meine Welt! Wenn Sie also mehr zu meinen
      Hobbys wissen möchtest, stöbern Sie einfach in meinem <a href="https://medium.com/@schaechinger">Blog</a> oder
      besuchen Sie meinen <a href="https://schchn.gr/ig">Instagram</a> Account.</p>
  </div>
</div>