---
layout: default
title: Über mich
description: "Erfahren Sie mehr zu meiner Person, meinen Hobbys und Fähigkeiten. So wissen Sie bereits im Voraus ein
bisschen besser, auf wen Sie sich einlassen."
class: about
ref: about
---
{% assign age = site.time | date: '%Y' | minus: 1991 %}
{% assign month = site.time | date: '%m' | minus: 0 %}
{% assign day = site.time | date: '%d' | minus: 0 %}
{% if 2 > month or 2 == month and 14 > day %}
{% assign age = age | minus: 1 %}
{% endif %}
<div class="text space-block">
  <div class="center">
    <div class="me">
      <img src="{{ site.imageBase }}/2/schaechinger.jpg">
    </div>
  </div>
  <div class="text__container">
    <h1>Hi, ich bin Manuel.</h1>

    <p>Ich bin {{ age }} Jahre alt und lebe in München. Ich bin ein freiberuflicher Software Engineer und
      leidenschaftlicher Läufer. Hier können Sie sich ein erstes Bild von mir machen bevor Sie tiefer in mein
      Tätigkeitsprofil einsteigen.</p>

    <p>Seit Mai 2019 arbeite ich selbstständig, da ich mich so auf jedes Projekt optimal konzentrieren kann und es
      bestmöglichst umsetzen kann. Profitieren Sie von meiner Expertise und der Unabhängigkeit von internen Ablenkungen
      oder anderen Aufgabenstellungen, die nebenher erledigt werden müssen. Ich setze Ihr Projekt nach Ihren
      Vorstellungen um, helfe Ihnen bei der Anforderungserstellung, der Konzeptionierung und gebe Vorschläge für
      Verbesserungen. Sie erhalten so ein auf Sie abgestimmtes Produkt und können sich trotzdem anderen Themen widmen,
      während das Produkt entsteht. Meinen Stack können Sie sich weiter unten genauer ansehen. Natürlich ist jedes
      Projekt einzigartig und jedes Produkt hat spezielle Anforderungen. Sollte Ihre Technologie nicht in der Liste
      meines Basisstacks stehen sprechen Sie mich gerne an und wir können uns über Ihre Systemlandschaft unterhalten.
    </p>

    <p>Ich fokussiere mich auf JavaScript, da diese Sprache ein fast grenzenloses Spektrum an Möglichkeiten und
      Einsatzgebieten ermöglicht. Das schlanke Design der Sprache sowie die asynchrone Verarbeitung lassen sich auf alle
      Geräte und Bereiche ausweiten. Nicht nur für das Frontent, was seit Angular, React und Vue die Stärken von
      JavaScript endlich nutzt, sondern dank Node.js auch für das Backend. Mittels Frameworks sind sogar Desktop- und
      Mobile-Apps möglich. Mir gefällt die klare Struktur in allen Bereichen und die Flexibilität, die man bei der
      Lösung der unterschiedlichsten Anforderungen genießen kann.</p>

    <p>Neben der Programmierung suche ich nach Herausforderungen abseits des Rechners: Meine Leidenschaft ist das
      Laufen, ich trainiere fast immer für den nächsten Wettkampf und versuche mich stetig zu verbessern und weitere
      Strecken zu absolvieren. Seit 2017 hat mich das Marathonfieber gepackt. Nach meinem Debüt in Berlin konnte ich
      neben vielen deutschen Städten in Chicago und New York City an den Start gehen. 2020 ist unter anderem Tokio mein
      Ziel. Doch nicht nur das Laufen begeistert mich, ich versuche mich seit Kurzem auch im Triathlon und schlage mich
      durch die Disziplinen. Diese Durchhaltefähigkeit und die strukturierte Planung und Zielsetzung überträgt sich auch
      auf mein Arbeitsleben. Wenn die Beine einmal nicht mehr wollen, geht es an die Isar oder gemütlich in den nächsten
      Biergarten.</p>
  </div>
</div>

<div class="year block--inverted">
  <div class="year__container">
    <h2>Mein Jahr in Zahlen</h2>
    <div class="marathons">
      {% include glyphicons.html icon="393-medal" %}
      <p></p>
      <h3></h3>
    </div>
    <div class="projects">
      {% include glyphicons.html icon="554-handshake" %}
      <p></p>
      <h3></h3>
    </div>
    <div class="coffees">
      {% include glyphicons.html icon="281-coffee-to-go" %}
      <p></p>
      <h3></h3>
    </div>
  </div>
</div>

<div class="text space-block">
  <div class="text__container">
    <p>Ich interessiere mich für städtische Architektur jeder Art und habe ein Faible für Clean Design
      und die damit verbundene Schönheit der Einfachheit moderner UI, die für die optimale Fertigstellung
      eines jeden Projekts unerlässlich ist.</p>

    <p>Sehr wichtig ist mir das Reisen um die Welt, um verschiedene Länder und deren Kulturen kennen
      zu lernen. Der Blog spiegelt diesen bunten Mix aus Reisen, Sportevents und
      Coding-Themen wider und gibt Ihnen ein paar Einblicke in meine Welt! Wenn Sie also mehr zu meinen
      Hobbys wissen möchtest, stöbern Sie einfach in meinem <a href="https://medium.com/@schaechinger">Blog</a> oder
      besuchen Sie meinen <a href="https://schchn.gr/ig">Instagram</a> Account.</p>
  </div>
</div>

<div class="stack space-block">
  <a id="mein-stack" class="anchor"></a>
  <h2>Mein Basisstack</h2>

  <div class="stack__text">
    <p>Grundlegend baut mein Stack auf <strong>JavaScript</strong> auf. Nach Bedarf können jedoch auch andere
      Technologien zum Einsatz kommen, um technische Einschränkungen z.B. im Webhosting-Bereich zu berücksichtigen.
    </p>
  </div>

  <div class="stack__trace">
    {% for stack in site.data.work.stack %}
    <div class="stack__{{ stack.type }}">
      <h3>{{ stack.label }}</h3>
      {% for sub in stack.tech %}
      <ul>
        {% for tech in sub %}
        <li>{{ tech }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <div class="stack__text">
    {% comment %}
    <p>Für die erfolgreiche Umsetzung eines Projekts bedarf es natürlich mehr. So setze ich soweit möglich auf agile
      Arbeitsmethoden und kundenorientiere Ansätze, um das Maximum aus den Anforderungen zu holen.</p>
    <p>Der Stack bildet die Basis meiner Tätigkeit, kann jedoch nach Belieben erweitert werden. So können Projekte aus
      dem Webumfeld gleichermaßen abgebildet werden wie jede aus dem Embedded- oder Mobile-Bereich.</p>
    {% endcomment %}
    <p>Eine ausführlichere Liste meiner Fähigkeiten finden Sie <a href="/lebenslauf/#faehigkeiten">hier</a>.</p>
  </div>
</div>

<div class="contact space-block">
  <h2>Ihr nächster Schritt</h2>

  <div class="contact__container">
    <p>Sie haben gefunden, wonach Sie suchen? Dann melden Sie sich gerne bei mir und erzählen Sie mir von Ihrem
      Vorhaben. Wir finden die richtige Lösung für Sie!</p>
    <p class="center">
      {% include button.html href="/kontakt/" label="In Kontakt treten" c2a=1 %}
    </p>
  </div>
</div>
<script>window.procStorage.push('year-in-figures');</script>