---
layout: contact
title: Contact
lang: en
class: contact
ref: contact
---
<div class="contact-types">
  <h1>Get in Touch</h1>
  <div class="section">
    <h3 id="jobs">
      {% include glyphicons.html icon="365-tie" %}
      Job Inquiries
    </h3>

    <p>Please only send requests for jobs that match my skills. I'm looking forward for interesting
      offers for JavaScript, Node or TypeScript Engineers with optional leadership responsibilities
      in an agile environment.</p>
    <p>For more detailed information about my skill set please have a look at my
      <a href="/en/resume">resume</a>.<br>Due to the current market situation I kindly ask you to
      <strong>write a mail for the initial contact</strong>! I do not respond to standard or mass
      messages.</p>
    <p>It is very important to me to work for a company where I can share the ideals and
      represent their business model. That is the only way I can work with maximum performance.</p>

    <p>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Send offer
      </a>
    </p>
  </div>

  <div class="section">
    <h3 id="projekte">
      {% include glyphicons.html icon="460-briefcase" %}
      Project Inquiries
    </h3>

    <p>I am open for a variety of projects starting from websites and web applications to complex
      software systems. I'd love to support you with the implementation of your ideas or extend
      existing projects. Simply write me an email and we can talk about the details of the project
      in person.</p>

    <p>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Mail the informationen
      </a>
    </p>
  </div>

  <div class="section">
    <h3 id="allgemein">
      {% include glyphicons.html icon="554-handshake" %}
      General Request
    </h3>

    <p>If you want to get in touch for another reason feel free to contact me via mail or phone.</p>

    <p>
      <a class="button" href="tel:+4916097506593">
        {% include glyphicons.html icon="465-call" %}
        Just call
      </a>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Drop a mail
      </a>
    </p>
  </div>
</div>
