.page.page-blog {
  @include outer-container;

  h2 {
    font-size: 1.25rem;
    height: 2.5em;
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;
  }

  ul {
    @include clearfix;

    li {
      @include media-columns(12, 6, 4);
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;

      .header-image {
        @include background-image;
        color: $white;
        display: block;
        height: 6.25rem;
        text-shadow: 0 0 5px $black;

        text-align: center;

        > span {
          display: inline-block;
          font-size: 1.5rem;
          letter-spacing: 0.25rem;
          padding-top: 2rem;
        }
      }

      p {
        height: 4.5rem;
        overflow-y: hidden;
      }
    }
  }
}
