.page.page-blog {
  @include outer-container;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;

    @include grid-media($desktop) {
      height: 2.5em;
    }
  }

  .blog-content {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .posts {
    ul {
      @include clearfix;

      li {
        @include media-columns(12, 6, 4);
        margin-bottom: map-get($neat-grid, gutter);

        .header {
          color: $black;
          display: block;
          height: 6.25rem;

          text-align: center;

          &.header-image {
            @include background-image;
            color: $white;
          text-shadow: 0 0 5px $black;

            @include grid-media($mobile-only) {
              @include grid-collapse;
            }
          }

          .post-date__month {
            padding-top: 0.75rem;
          }
        }

        p {
          height: 4.5rem;
          overflow-y: hidden;
        }
      }
    }
  }

  .sidebar {
    @include media-columns(12, 3);
  }
}
