.post {
  .post-header {
    &.post-image {
      @include background-image;
      height: 20rem;
    }

    .post-info {
      background-color: rgba(255, 255, 255, 0.65);

      .post-location {
        @include outer-container;
        
        p {
          text-align: right;
        }
      }
    }
  }
}
