---
layout: default
title: Bing
class: bing
---
{% assign currentDay = site.time | date: '%d' | minus: 0 %}
{% assign prefix = site.time | date: '%Y-%m-' %}
{% assign monthDate = prefix | append: '01' %}
<h1>
  Bing Image Archive
  {% include post-date.html date=monthDate short=1 simple=1 noday=1 %}
</h1>

<div class="images">
  {% for i in (1..currentDay) reversed %}
    {% assign date = prefix | append: i | date: '%Y-%m-%d' %}
    {% assign baseUrl = 'https://bing.schaechinger.com/images/' %}
    {% assign thumbUrl = baseUrl %}
    {% unless forloop.first %}
      {% assign thumbUrl = thumbUrl | append: 'thumb/' %}
    {% endunless %}
    <div class="bing-image">
      <a href="{{ baseUrl }}{{ date | date: '%Y-%m-%d' }}.jpg" target="_blank">
        <div class="thumb"
          style="background-image:url({{ thumbUrl }}{{ date | date: '%Y-%m-%d' }}.jpg)">
          <span class="bing-image__day">{{ i }}</span>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
