@import 'colors';

header {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-dark;
  color: $color-white;
  font-family: 'ClearSans', 'ClearSans-Bk', Arial, Helvetica, sans-serif;
  height: 3rem;
  width: 100%;

  a {
    border-bottom: none;
    color: $color-gray;

    &:hover {
      color: $color-blue;
      border-bottom: none;
    }

    &.active {
      color: $color-black;
    }
  }
}
