---
layout: default
title: Kontakt
description: Hier können Sie auf verschiedenen Wegen mit mir in Kontakt treten und meine aktuelle Verfügbarkeit einsehen.
lang: de
class: contact
ref: contact
---
<div class="intro space-block">
  <h1>Packen wir es an!</h1>
  <p>Der erste Schritt liegt bei Ihnen.</p>
</div>

<div class="hero space-block">
  <div class="hero__container">
    <div class="personal">
      <p>Sie möchten direkt mit mir in Kontakt treten? Melden Sie sich einfach und wir setzen Ihr Vorhaben so um, wie Sie es sich vorstellen!</p>
      <div class="personal-way personal-way__email">
        {% include glyphicons.html icon="461-send" %}
        <p><strong>Senden Sie mir eine E-Mail</strong></p>
        <a class="mail-link" onclick="sendmail(this)" data-address="manuel">E-Mail senden</a>
      </div>

      <div class="personal-way personal__mobile">
        {% include glyphicons.html icon="465-call" %}
        <p><strong>Rufen Sie mich direkt an</strong></p>
        <a href="tel:{{ site.contact.phone | replace: ' ', '' }}">Einfach anrufen</a>
      </div>

      <div class="personal-way personal__meet">
        {% include glyphicons.html icon="554-handshake" %}
        <p><strong>Sie regeln Geschäftliches lieber persönlich?</strong></p>
        <p>Gerne nach kurzer Absprache</p>
      </div>
    </div>
  </div>

  <div class="hero__container">
    <div class="form form__contact">
      <form action="https://api.schaechinger.com/contact" method="POST">
        <div class="form-element form-element__message form-element--required">
          <textarea name="message" id="message" placeholder="Ihre Nachricht" required></textarea>
        </div>
        <div class="form-element form-element__email form-element--required">
          <input type="email" name="_replyto" id="email" placeholder="E-Mail-Adresse" required>
        </div>
        <div class="form-element form-element__submit form-element--button">
          <input type="submit" value="Senden">
        </div>

        <div class="form-element form-element--hidden">
          <input type="hidden" name="_language" value="{{ page.lang }}">
        </div>
        <div class="form-element form-element--hidden">
          <input type="hidden" name="_next" value="/danke/">
        </div>
        <div class="form-element form-element--hidden">
          <input type="hidden" name="_gc" id="gc">
        </div>
        <div class="form-element form-element--hidden">
          <input type="text" name="_bojack" style="display:none">
        </div>
      </form>
      <script src="https://www.google.com/recaptcha/api.js?render={{ site.gc }}"></script>
      <script>
        grecaptcha.ready(function () {
          grecaptcha.execute('{{ site.gc }}', { action: 'contact' }).then(function (token) {
            document.getElementById("gc").value = token;
          });
        });
      </script>
    </div>
  </div>
</div>

<div id="verfuegbarkeit" class="availability space-block">
  <div class="availability__container">
    <h2>Meine wöchentliche Verfügbarkeit</h2>

    <ul id="availability" class="timeline">
      <li class="arrow"></li>
    </ul>

    <p>Die Angaben beziehen sich auf verfügbare Arbeitstage pro Woche.</p>
    <script>window.procStorage.push('availability');</script>
  </div>
</div>
