---
layout: contact
title: Kontakt
lang: de
class: contact
ref: contact
---
<div class="contact-types">
  <h1>Nimm Kontakt auf</h1>
  <div class="section">
    <form action="https://formspree.io/manuel@schaechinger.com" method="POST">
      <label for="name">Vollständiger Name</label>
      <input type="text" name="name" id="name">
      <label for="name">E-Mail-Adresse</label>
      <input type="email" name="_replyto" id="email">
      <label for="name">Nachricht</label>
      <textarea name="message" id="message"></textarea>
      <input type="hidden" name="_language" value="de">
      <input type="text" name="_gotcha" style="display:none">
      <input type="hidden" name="_next" value="https://www.schaechinger.com/danke/">
      <input type="submit" value="Senden">
    </form>
  </div>

  <div class="section">
    <h3 id="jobs">
      {% include glyphicons.html icon="365-tie" %}
      Job-Angebote
    </h3>

    <p>Bitte sende mir nur Anfragen für Jobs, die zu mir passen. Ich freue mich generell über
      unverbindliche und interessante Angebote für JavaScript, Node oder TypeScript Entwickler mit
      optionaler Führungsverantwortung im agilen Umfeld.</p>
    <p>Genaue Informationen über meine Fähigkeiten findest du in meinem
      <a href="/lebenslauf">Lebenslauf</a>.<br>Aufgrund der aktuellen Marktlage bitte ich darum,
      den <strong>Erstkontakt per Mail</strong> herzustellen! Ich beantworte keine Standard- oder
      Massennachrichten.</p>
    <p>Besonders wichtig ist es mir, in einer Firma zu arbeiten, hinter deren Idee und
      Geschäftsmodell ich stehen kann. Nur so laufe ich auf Höchstleistung.</p>

    <p>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Angebot zusenden
      </a>
    </p>
  </div>

  <div class="section">
    <h3 id="projekte">
      {% include glyphicons.html icon="460-briefcase" %}
      Projekt-Anfragen
    </h3>

    <p>Ich bin offen für eine Vielzahl von Projekten, von Webseiten über Webanwendungen bis hin zu
      komplexen Software Systemen. Ich unterstütze dich gerne bei der Umsetzung deiner Ideen oder
      erweitere bestehende Projekte. Schreib mir gerne eine E-Mail und wir besprechen die
      Einzelheiten zum Projekt persönlich.</p>

    <p>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Informationen mailen
      </a>
    </p>
  </div>

  <div class="section">
    <h3 id="allgemein">
      {% include glyphicons.html icon="554-handshake" %}
      Allgemeine Anfragen
    </h3>

    <p>Falls du aus einem anderen Grund Kontakt aufnehmen willst, kannst du das gerne per Mail oder telefonisch tun.</p>
    <p>
      <a class="button" href="tel:+4916097506593">
        {% include glyphicons.html icon="465-call" %}
        Direkt anrufen
      </a>
      <a class="button mail-link" onclick="sendmail(this)" data-address="manuel">
        {% include glyphicons.html icon="461-send" %}
        Schriftlich anfangen
      </a>
    </p>
  </div>
</div>
