<footer role="detailinfo">
  <div class="footer">
    <i class="glyphicons glyphicons-scissors-alt"></i>

    {% include socials.html %}

    <div class="footer__links">
      <ul>
        <li>
          <a href="/impressum">Impressum</a>
        </li>
        <li>
          <a href="/datenschutz">Datenschutz</a>
        </li>
        <li>
          <a class="email mail-link" onclick="sendmail(this)"
            data-address="manuel">
            Kontakt
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__text">
      <p>Hi, ich bin Manuel. Auf meiner Website dreht sich alles um Laufen, Reisen um die Welt, um Webentwicklung mit JavaScript und
        Node.js und natürlich auch um mich. Wenn du hier gelandet bist, solltest du lieber wieder weiter nach oben scrollen und
        die vielen weiteren Seiten der Website ansehen. Hier geht's nicht weiter.</p>
      <p>&copy; {{ site.time | date: '%Y' }} Manuel Schächinger. Alle Rechte vorbehalten.</p>
      <p>Mit viel <i class="glyphicons glyphicons-heart-empty"></i> in München entwickelt.</p>
    </div>
  </div>
</footer>
