<header>
  <nav>
    <ul class="main">
      <li class="logo">
        <a href="/">
          M<span class="m">///</span>Schächinger
        </a>
      </li>
      {% for element in site.data.nav %}
      <li{% if page.url contains element.url %} class="active" {% endif %}>
        <a href="{{ element.url }}">{{ element.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <ul class="socials">
      <li>
        <i class="social social-xing"></i>
      </li>
      <li>
        <i class="social social-linked-in"></i>
      </li>
      <li>
        <i class="social social-github"></i>
      </li>
      <li>
        <i class="social social-instagram"></i>
      </li>
      </li>
      <li>
        <i class="social social-twitter"></i>
      </li>
      <li>
        <i class="social social-e-mail"></i>
      </li>
    </ul>
  </nav>
</header>
