<li {% if page.url contains include.element.url %}class="active" {% endif %}>
  <a href="{{ base | append: include.element.url }}"{% if include.element.class %} class="{{ include.element.class }}"{% endif %}>
    {% if include.element.icon %}
      {% include glyphicons.html icon=include.element.icon %}
    {% endif %}
    {{ include.element.title }}</a>
  {% if include.element.sub %}
  {% include glyphicons.html icon="221-chevron-down" %}
  <ul>
    {% for sub in include.element.sub %}
      {% include nav-element.html element=sub %}
    {% endfor %}
  </ul>
  {% endif %}
</li>