<span class="post-date">
{% assign pageLang = page.lang | default: 'de' %}
{% assign day = include.date | date: '%-d' %}
{% assign months = site.data.date.months[pageLang] %}
{% assign month = include.date | date: '%m' | minus: 0 %}
{% if include.short %}
  {% assign months = months.short %}
{% else %}
  {% assign months = months.long %}
{% endif %}
{% assign month = months[month] %}
{% assign year = include.date | date: '%Y' %}
{% if include.simple %}
  {% unless include.noday %}
    {{ day | append: '. ' }}
  {% endunless %}
  {{ month | append: ' ' | append: year }}
{% else %}
  <span class="post-date__month">{{ month }}</span>
  <span class="post-date__day">{{ day }}</span>
  <span class="post-date__year">{{ year }}</span>
{% endif %}
</span>
