<ul class="socials">
  <li>
    <a href="https://schchn.gr/x" class="xing">
      <i class="social social-xing"></i>
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/in" class="linked-in">
      <i class="social social-linked-in"></i>
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/gh" class="github">
      <i class="social social-github"></i>
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/ig" class="instagram">
      <i class="social social-instagram"></i>
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/t" class="twitter">
      <i class="social social-twitter"></i>
    </a>
  </li>
  <li>
    <a class="email mail-link" onclick="sendmail(this)" data-address="manuel">
      <i class="social social-e-mail"></i>
    </a>
  </li>
</ul>
