<ul class="socials">
  <li>
    <a href="https://schchn.gr/in" class="linked-in">
      {% include glyphicons.html type="social" icon="7-linkedin" %}
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/x" class="xing">
      {% include glyphicons.html type="social" icon="0-xing" %}
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/gh" class="github">
      {% include glyphicons.html type="social" icon="29-github" %}
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/ig" class="instagram">
      {% include glyphicons.html type="social" icon="4-instagram" %}
    </a>
  </li>
  <li>
    <a href="https://schchn.gr/t" class="twitter">
      {% include glyphicons.html type="social" icon="3-twitter" %}
    </a>
  </li>
  <li>
    <a class="email mail-link" onclick="sendmail(this)" data-address="manuel">
      {% include glyphicons.html icon="792-email" %}
    </a>
  </li>
</ul>
