$blue: #00a5db;
$blue-transparent: rgba(0, 165, 219, 0.1); 
$blue-half-transparent: rgba(0, 165, 219, 0.75);
$green-match: #57bc90;

$blue-light: #8addf8;
$blue-light-transparent: rgba(138, 221, 248, 0.75);
$blue-dark: #02255a;
$blue-dark-transparent: rgba(2, 37, 90, 0.75);

$github: #24292e;
$instagram: #fb3958;
$twitter: #55acee;
$xing: #006567;
$linked-in: #0976b4;
$mail: #565656;

$gray: #a0a0a0;
$gray-light: #fafafa;
$gray-middle: #d6d6d6;
$gray-border: #e6e6e6;
$gray-dark: #424242;

$black: #111;
$black-transparent: rgba(17, 17, 17, 0.25);
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.6);
