$blue: #67b9c4;
$green: #57bc90;

$github: #24292e;
$instagram: #fb3958;
$twitter: #55acee;
$facebook: #3b5998;
$google-plus: #d34836;
$xing: #006567;
$linked-in: #0976b4;
$pocket: #ef4056;
$mail: #565656;

$gray: #a0a0a0;
$gray-light: #fafafa;
$gray-middle: #d6d6d6;
$gray-nav: rgba(51, 51, 51, 0.6);
$gray-border: #e6e6e6;
$gray-dark: #424242;

$black: #000;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.6);
