$blue: #00a5db;
$blue-transparent: rgba(0, 165, 219, 0.1); 
$green-match: #57bc90;

/*$green: #2ecc40;
$green-transparent: rgba(46, 204, 64, 0.75);
$yellow: #ffdc00;
$yellow-transparent: rgba(255, 220, 0, 0.75);
$red: #ff4136;
$red-transparent: rgba(255, 65, 54, 0.75);*/
$blue-available: #8addf8;
$blue-available-transparent: rgba(138, 221, 248, 0.75);
$blue-tentative: #00a5db;
$blue-tentative-transparent: rgba(0, 165, 219, 0.75);
$blue-booked: #02255a;
$blue-booked-transparent: rgba(2, 37, 90, 0.75);

$github: #24292e;
$instagram: #fb3958;
$twitter: #55acee;
$xing: #006567;
$linked-in: #0976b4;
$mail: #565656;

$gray: #a0a0a0;
$gray-light: #fafafa;
$gray-middle: #d6d6d6;
$gray-border: #e6e6e6;
$gray-dark: #424242;

$black: #111;
$black-transparent: rgba(17, 17, 17, 0.25);
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.6);
