@mixin outer-container() {
  @include grid-container;
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
}

@mixin column-margin {
  margin-left: map-get($neat-grid, gutter);
  margin-right: map-get($neat-grid, gutter);
}

$mobile-only: (
  media: 'only screen and (max-width: 39.9375rem)'
);
$tablet: (
  media: 'only screen and (min-width: 40rem)',
);
$tablet-large: (
  media: 'only screen and (min-width: 48rem)',
);
$desktop: (
  media: 'only screen and (min-width: 64rem)',
);

@mixin media-columns($column, $tabletColumn: 0, $desktopColumn: 0) {
  @include grid-column($column);

  @if (0 != $tabletColumn) {
    @include grid-media($tablet) {
      @include grid-column($tabletColumn);
    }
  }

  @if (0 != $desktopColumn) {
    @include grid-media($desktop) {
      @include grid-column($desktopColumn);
    }
  }
}
