.page.page-resume {
  @include outer-container;

  ul.tags li {
    color: $green;
    display: inline;

    &:not(:last-of-type)::after {
      content: ',';
      padding-right: 0.25rem;
    }
  }

  .arrow {
    padding: 1rem 0;
    position: relative;

    &::before {
      border-bottom: 3px solid $green;
      border-right: 3px solid $green;
      bottom: 2px;
      content: '';
      height: 1rem;
      left: calc(100% - 2rem);
      position: absolute;
      top: 0;
      transform: rotate(-135deg);
      width: 1rem;
    }
  }

  .block.block-experience,
  .block.block-studies {
    > div {
      @include clearfix;

      padding-bottom: 1.25rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(100% - 1.5rem);
        border-left: 2px solid $green;
      }

      &:first-of-type::before {
        top: 1.5rem;
      }

      &:last-of-type::before {
        bottom: 2rem;
      }
    }

    &.block-experience > div:first-of-type::before {
      top: -1rem;
    }

    .resume-job {
      @include media-columns(12, 6);

      /* remove */
      padding-right: 2rem;

      .resume-job-header {
        padding-bottom: 1rem;

        h3 {
          border-bottom: 2px solid $blue;
          font-size: 1.25rem;
          margin: 0 0 1.25rem;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
          position: relative;

          &::before {
            border-bottom: 2px solid $blue;
            border-right: 2px solid $blue;
            bottom: 2px;
            content: '';
            height: 1rem;
            position: absolute;
            right: -0.5rem;
            transform: rotate(-45deg);
            width: 1rem;
          }

          &::after {
            background-color: $green;
            border-radius: 10rem;
            bottom: 0.25rem;
            content: '';
            height: 0.75rem;
            position: absolute;
            right: -2.125rem;
            width: 0.75rem;
          }
        }

        .post-date {
          text-transform: none;
        }
      }

      ul:not(.tags) {
        li {
          margin-left: 1rem;
          padding-bottom: 0.25rem;
          position: relative;

          &::before {
            border-top: 1px solid black;
            content: '';
            left: -1rem;
            position: absolute;
            top: 0.625rem;
            width: 0.375rem;
          }
        }
      }
    }
  }

  .block.block-skills {
    .skill-set {
      @include media-columns(12, 6);

      &:first-of-type {
        @include media-columns(12);
      }

      .tags li {
        color: $black;
      }
    }
  }

  @include grid-media($tablet) {
    .arrow::before {
      height: 2rem;
      left: calc(50% - 1rem);
      width: 2rem;
    }

    .block.block-experience,
    .block.block-studies {
      > div::before {
        left: calc(50% - 1px);
      }

      .resume-job {
        padding-left: 2rem;
        padding-right: 2rem;

        .resume-job-header > *,
        > ul {
          padding: 0 1rem;
        }

        &:nth-child(2) .resume-job-header h3 {
          padding-top: 3rem;

          &::before {
            left: -0.5rem;
            transform: rotate(135deg);
          }

          &::after {
            left: -3rem;
          }
        }

        .resume-job-header {
          h3 {
            &::after {
              right: -3rem;
            }
          }
        }
      }
    }
  }
}
