.consent {
  background-color: $blue;
  border-top: 1px solid $white;
  bottom: 0;
  color: $white;
  display: none;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  transition: bottom 1s ease-out;

  &--accepted {
    display: block;
  }
  &--fade-out {
    bottom: -10rem;
  }

  &::before {
    background: linear-gradient(0, rgba(255, 255, 255, 0.25), transparent);
    content: '';
    height: 0.75rem;
    left: 0;
    position: absolute;
    right: 0;
    top: -0.75rem;
  }

  &__container {
    @include clearfix;
    @include outer-container;

    font-size: 0.875rem;
    position: relative;

    p {
      @include media-columns(12);

      margin-bottom: 0;

      @include grid-media($mobile-only) {
        padding-right: 3rem;

        a {
          display: block;
        }
      }

      a {
        display: inline-block;

        &,
        &:hover {
          border-bottom-color: $white !important;
          color: $white !important;
          cursor: pointer;
        }
      }
    }

    a.button.accept-consent {
      display: block;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: -0.25rem;

      &:hover {
        cursor: pointer;
      }

      @include grid-media($mobile-only) {
        top: 0;
      }
    }
  }
}
