footer {
  margin-top: 2rem;
  padding: 2rem 0;
  position: relative;

  &::before {
    border-top: 1px dashed $gray;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .footer {
    @include outer-container;
    font-size: 0.875rem;
    position: relative;
  
    > i.glyphicons {
      color: $gray-dark;
      font-size: 1.25rem;
      left: 1rem;
      position: absolute;
      top: -3rem;
    }

    .socials {
      @include media-columns(12);

      font-size: 1.5rem;
      text-align: center;

      @include grid-media($tablet-large) {
        display: none;
      }
    }

    &__links {
      @include media-columns(12, 4);

      ul {
        text-align: right;

        @include grid-media($mobile-only) {
          text-align: left;
          padding-bottom: 1.25rem;
          
          li {
            display: inline-block;
            padding-right: 0.5rem;
          }
        }
      }
    }

    &__text {
      @include media-columns(12, 5);

      ul.lang-switch {
        padding-bottom: 0.25rem;

        li {
          display: inline-block;
          padding-right: 0.5rem;

          i.glyphicons::before {
            padding: 0;
          }
        }
      }

      i.glyphicons-heart-empty {
        color: #fb3958;

        &::before {
          padding-top: 0;
        }
      }
    }
  }
}
