header {
  @include clearfix;

  background-color: $white;
  border-bottom: 1px solid $gray-dark;
  color: $white;
  font-family: 'ClearSans-Bk', $font-stack-helvetica;
  width: 100%;

  nav {
    @include outer-container;
    
    li {
      display: inline-block;
      padding: 0.25rem 0.5rem;

      &.active {
        a {
          color: $black;
        }
      }

      a {
        border-bottom: none;
        color: $gray;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
