header {
  @include clearfix;

  background-color: $white;
  border-bottom: 1px solid $gray-light;
  color: $white;
  font-family: 'ClearSans', 'ClearSans-Bk', $font-stack-helvetica;
  width: 100%;

  nav {
    @include outer-container;
    overflow: hidden;

    ul {
      overflow-x: scroll;
      padding: 0 0.625rem;
      white-space: nowrap;

      li {
        display: inline-block;
        padding: 0.5rem 0.625rem;

        a {
          border-bottom: none;
          color: $gray;

          &:hover {
            color: $blue;
            font-size: 0.875rem;
          }
        }

        &.active {
          a {
            color: $black;
            font-family: 'ClearSans-Bk', $font-stack-helvetica;
          }
        }
      }
    }
  }
}
