.app header {
  @include clearfix;

  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid $gray-middle;
  color: $white;
  font-family: 'ClearSans', 'ClearSans-Bk', $font-stack-helvetica;
  height: 3rem;
  position: relative;
  width: 100%;
  z-index: 1000;

  nav {
    @include outer-container;

    overflow: hidden;
    position: relative;

    ul.main {
      @include grid-media($mobile-only) {
        overflow-x: scroll;
        white-space: nowrap;
      }

      display: block;
      padding: 0.375rem 0.625rem;
      text-align: right;

      li {
        display: inline-block;
        padding: 0.375rem 0.625rem;

        &.no-padding {
          padding: 0;
        }

        &:last-of-type {
          padding: 0.125rem 0.65rem 0.125rem 0.125rem;

          a.button {
            border-bottom: 1px solid $blue;
            color: $blue;

            &:hover {
              color: $white;
            }
          }
        }

        &.logo {
          float: left;
          padding-bottom: 0.3125rem;
          padding-top: 0.3125rem;

          a {
            color: $black;
            font-family: 'ClearSans-Bk', $font-stack-helvetica;
            font-size: 1.125rem;

            .m {
              font-family: 'ClearSans', 'ClearSans-Bk', $font-stack-helvetica;
            }

            &:hover {
              color: $blue;
            }
          }
        }

        a {
          border-bottom: none;
          color: $gray-nav;
          font-size: 0.875rem;

          &:hover {
            color: $blue;
          }
        }

        &.active {
          /*border-left: 1px solid $green;
          float: left;*/

          a {
            color: $black;
            font-family: 'ClearSans-Bk', $font-stack-helvetica;
          }
        }

        ul.socials {
          display: none;

          li {
            padding: 0;
            
            a {
              font-size: 1.25rem;
            }
          }

          @include grid-media($tablet-large) {
            display: inline-block;
            float: right;
            position: absolute;
            right: 1.25rem;
            text-align: right;
            top: 0;
          }
        }
      }
    }
  }
}
