.highlight-block {
  background-color: $green;
  margin: map-get($neat-grid, gutter) 0;
  max-width: 100% !important;
  padding: map-get($neat-grid, gutter) 0;

  h2,
  h3,
  p {
    color: $white;
    margin: 0;
  }

  .highlight-container {
    @include outer-container;
  }
}
