.post-strava {
  @include outer-container;

  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;

  > iframe {
    display: block;
    height: 25rem;
    margin: 0 auto;
    max-width: 37.5rem;
    width: 100%;
  }
}