.post-race-result {
  @include outer-container;

  > div {
    @include media-columns(12, 4);

    margin: 1.25rem 0;

    @include grid-media($tablet) {
      @include grid-shift(4);
    }

    position: relative;
  }

  span.glyphicons {
    color: #ffd700;
    font-size: 2.5rem;
    left: 1.25rem;
    position: absolute;
    top: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }
}
