.page.page-home {
  > * {
    @include outer-container;
    padding-left: map-get($neat-grid, gutter);
    padding-right: map-get($neat-grid, gutter);
  }

  .post-image {
    margin: 0;
    padding: 0;
    max-width: 100%;

    .image {
      background-position: center 30%;
      height: 30rem;
      padding-top: 7.5rem;

      h1,
      h3 {
        color: $gray-dark;
        font-family: 'ClearSans', $font-stack-helvetica;
        margin: 0;
        text-align: center;
      }
    }
  }

  .highlight-block {
    margin-top: 0;

    .highlight-container > div {
      @include media-columns(12, 4);

      @include grid-media($tablet) {
        &:first-of-type {
            @include grid-shift(4);
        }

        &:nth-of-type(2) {
            @include grid-shift(-4);
        }
      }
    }

    h3 {
      margin-bottom: 1.25rem;
    }
  }

  .more {
    padding: 0;

    > div {
      @include media-columns(12, 6);
    }
  }
}
