.page.page-home {
  h2 {
    text-align: center;
  }

  .welcome,
  .contact {
    @include outer-container;

    &__container {
      @include media-columns(12, 10);

      @include grid-media($tablet) {
        @include grid-push(1);
      }
    }
  }

  .services {
    background-color: $blue;
    margin-top: 5.5rem;
    padding-bottom: 1.5rem;

    &__container {
      @include outer-container;

      > div {
        @include media-columns(12, 4);

        background-color: $white;
        border: 1px solid $gray-middle;
        border-radius: 0.5rem;
        margin-top: -4rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include grid-media($mobile-only) {
          &:not(:first-child) {
            margin-top: 1.5rem;
          }
        }
      }

      > p {
        @include media-columns(12);

        margin-bottom: 0;
      }
    }
  }

  .post-image {
    margin: 0;
    max-width: 100%;
    padding: 0;

    .image {
      background-position: center 30%;
      height: 40rem;
      overflow-y: hidden;
      margin-top: -3rem;
      position: relative;

      .logo {
        font-size: 2.5rem;
      }

      .hero-customers {
        background-color: rgba(0, 0, 0, 0.25);
        margin-top: 23.25rem;

        > div {
          @include outer-container;
          padding-bottom: 1rem;
          padding-top: 1rem;

          > div {
            @include media-columns(3, 2);

            text-align: center;

            img {
              height: 2.5rem;
              width: auto;
              max-width: 80%;
            }

            span.more {
              color: white;
              font-size: 2rem;
            }
          }
        }
      }

      @include grid-media($mobile-only) {
        height: 23rem;
        padding-top: 8.5rem;

        .logo {
          font-size: 2rem;

          h1,
          h3 {
            color: $white;
          }
        }
      }

      @include grid-media($tablet) {
        padding-top: 14.5rem;

        h1,
        h3 {
          color: $white;
        }
      }

      @include grid-media($desktop) {
        padding-top: 7.5rem;

        h1,
        h3 {
          color: $black;
        }
      }
    }
  }
}
