@font-face {font-family: 'ClearSans-Bk';font-weight:normal;font-style:normal;src:url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot');src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.eot?#iefix') format('embedded-opentype'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.woff') format('woff'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.ttf') format('truetype'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_0_0.svg#wf') format('svg');}
@font-face {font-family: 'ClearSans-Bk';font-weight: bold;font-style: normal;src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot');src: url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.eot?#iefix') format('embedded-opentype'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.woff') format('woff'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.ttf') format('truetype'), url('https://static.schaechinger.com/vendor/clear/1.0/font/2B1F35_1_0.svg#wf') format('svg');}

body {
  background-color: #fafafa;
  font: 1rem 'ClearSans-Bk', Arial, Helvetica, sans-serif;
}

h1 {
  color: #67b9c4;
}

nav ul,
footer ul,
.post .meta.meta-categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li,
footer ul li,
.post .meta.meta-categories ul li {
    display: inline-block;
    padding: 0.25rem 0.5rem;
}
