---
layout: default
title: Tätigkeit
lang: de
class: work
ref: work
---

<div class="intro space-block">
  <h1>{{ page.title }}.</h1>

  <p>Ich biete Projektdienstleistungen von A bis Z. Meine Tätigkeitsfelder decken nicht nur die reine Implementierung
    ab, sondern erstrecken sich auch über die nachhaltige Planung bis zur Beratung. Auch ist das Angebot
    branchenunabhängig und kann in jedem IT-Bereich angewendet werden.</p>
</div>

<div class="services space-block">
  <h2>Meine Leistungen</h2>

  <div class="services__container">
    <h3>Konzeption &amp; Architektur</h3>

    <p>Noch vor der ersten Zeile Code steht die durchdachte Konzeption der Projektbasis und die Planung der Architektur
      an.</p>
    <p>Hier helfe ich beim Entwurf einer leistungsfähigen und langlebigen Software Architektur und einem stimmigen
      Gesamtkonzept.</p>
  </div>

  <div class="services__container">
    <h3>Umsetzung</h3>

    <p>Ich unterstütze aktiv die Implementierung des Projekts und nutze meine Fähigkeiten, um das bestmögliche Produkt
      zu erhalten.</p>
    <p>Meist im JavaScript-Umfeld, sowohl im Backend mit Node.js und TypeScript als auch im Frontend mit React und SASS.
    </p>
  </div>

  <div class="services__container">
    <h3>Beratung</h3>

    <p>Hier geht es um die Überwindung von aufgetretenen Problemen, der Migration von Systemen oder einer beliebigen
      anderen Herausforderung.</p>
    <p>Kontaktieren Sie mich gere mit Ihrem speziellen Anliegen, um gemeinsam eine Lösung zu finden.</p>
  </div>

  <p class="center">
    {% include button.html href="/lebenslauf/" label="Mein Lebenslauf" c2a=1 %}
  </p>
</div>

<div class="stack space-block">
  <h2>Mein Stack</h2>

  <div class="stack__text">
    <p>Grundlegend baut mein Stack auf <strong>JavaScript</strong> auf. Nach Bedarf können jedoch auch andere
      Technologien zum Einsatz kommen, um mit technischen Einschränkungen z.B. im Webhosting-Bereich zu berücksichtigen.
    </p>
  </div>

  <div class="stack__trace">
    {% for stack in site.data.work.stack %}
    <div class="stack__{{ stack.type }}">
      <h3>{{ stack.label }}</h3>
      {% for sub in stack.tech %}
      <ul>
        {% for tech in sub %}
        <li>{{ tech }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <div class="stack__text">
    <p>Für die erfolgreiche Umsetzung eines Projekts bedarf es natürlich mehr. So setze soweit möglich ich auf agile
      Arbeitsmethoden und kundenorientiere Ansätze, um das Maximum aus den Anforderungen zu holen.</p>
    <p>Der Stack bildet die Basis meiner Tätigkeit, kann jedoch nach Belieben erweitert werden. So können Projekte aus
      dem Webumfeld gleichermaßen abgebildet werden wie jede aus dem Embedded- oder Mobile-Bereich.</p>
      <p>Eine ausführlichere Liste meiner Fähigkeiten finden Sie <a href="/lebenslauf/#faehigkeiten">hier</a>.</p>
  </div>
</div>

<div class="contact space-block">
  <h2>Ihr nächster Schritt</h2>

  <div class="contact__container">
    <p>Sie haben gefunden, wonach Sie suchen? Dann melden Sie sich gerne bei mir und erzählen Sie mir von Ihrem
      Vorhaben. Wir finden die richtige Lösung für Sie!</p>
    <p class="center">
      {% include button.html href="/kontakt/" label="In Kontakt treten" c2a=1 %}
    </p>
  </div>
</div>