---
layout: default
title: Laufen
lang: de
class: run
ref: run
---
<h1>{{ page.title }}</h1>

<div class="">
  <h2>Marathon</h2>

  <ul>
    {% assign lastRace = 0 %}
    {% for race in site.data.run.race.marathon reversed %}
      {% assign currentYear = race.date | slice: 0, 4 %}
      {% if lastRace != currentYear %}
        <li><h3>{{ currentYear }}</h3></li>
        {% assign lastRace = currentYear %}
      {% endif %}
      <li>
        <p>{% include post-date.html date=race.date short=1 simple=1 %} {{ race.title }}: {{ race.netTime }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="">
  <h2>Halbmarathon</h2>

  <ul>
    {% assign lastRace = 0 %}
    {% for race in site.data.run.race.halfmarathon reversed %}
    {% assign currentYear = race.date | slice: 0, 4 %}
    {% if lastRace != currentYear %}
    <li>
      <h3>{{ currentYear }}</h3>
    </li>
    {% assign lastRace = currentYear %}
    {% endif %}
    <li>
      <p>{% include post-date.html date=race.date short=1 simple=1 %} {{ race.title }}: {{ race.netTime }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
