.page.page__dailies {
  @include outer-container;

  .intro {
    @include clearfix;

    &__container {
      @include media-columns(12, 7, 5);
      @include media-push(0, 2, 4);
      
      .follow {
        margin-bottom: 2.5rem;

        a.button {
          margin-top: 0;
        }
      }
    }
  }

  .dailies {
    @include clearfix;

    &__wisdom {
      @include clearfix;

      padding-top: 2.5rem;
      position: relative;

      &:not(:last-child) {
        padding-bottom: 2.5rem;
      }

      &::before {
        border-bottom: 2px solid $gray-middle;
        content: '';
        height: 0;
        left: calc(50% - 1.5rem);
        max-width: 50%;
        position: absolute;
        top: 0;
        width: 3rem;
      }

      &:first-child::before {
        border-bottom-color: $white;
      }

      .post-date {
        @include media-columns(12, 2);
        @include media-push(0, 1, 2);

        text-transform: none;

        @include grid-media($mobile-only) {
          font-weight: bold;
          text-align: left;
        }
      }

      p {
        @include media-columns(12, 7, 5);
      }
    }
  }
}