.page.page-bing {
  @include outer-container;

  .bing-image {
    .thumb {
      @include media-columns(6, 4, 3);
      @include background-image;
      height: 7rem;
      margin-bottom: 1.25rem;
      overflow-y: hidden;
      position: relative;

      @include grid-media($mobile-only) {
        @include grid-column(6);
      }
    }
    
    &:first-of-type .thumb {
      @include grid-column(12);
      height: 20rem;

      @include grid-media($mobile-only) {
        height: 10rem;
      }
    }

    &__day {
      background-color: $white;
      border-bottom-left-radius: 2rem;
      font-size: 0.875rem;
      float: right;
      height: 2rem;
      padding: 0.25rem 0.25rem 0 0;
      text-align: right;
      width: 2rem;
    }
  }
}