 <!DOCTYPE html>
<html>
<head lang="{{ page.lang | default: 'de' }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Manuel Schächinger</title>
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="Schächinger">
  <meta name="apple-touch-fullscreen" content="yes">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="app">
  <header>
    <nav>
      <ul>
        <li{% if page.url == '/' %} class="active"{% endif %}>
          <a href="/">Schächinger</a>
        </li>
        {% for element in site.data.nav %}
          <li{% if page.url contains element.url %} class="active"{% endif %}>
            <a href="{{ element.url }}">{{ element.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main class="page{% if page.class %} page-{{ page.class }}{% endif %}">
    {{ content }}
  </main>
  <footer>
    <ul>
      <li>
        <a href="/imprint">Impressum</a>
      </li>
      <li>
        <a href="/privacy">Datenschutz</a>
      </li>
      <li>
        <a href="/contact">Kontakt</a>
      </li>
    </ul>
    <p>&copy; {{ 'now' | date: '%Y' }} Manuel Schächinger. Alle Rechte vorbehalten.</p>
  </footer>
  <script async defer src="/assets/js/app.js"></script>
</body>
</html>
