---
layout: compress
---
{% assign pageLang = page.lang | default: 'de' %}
<!DOCTYPE html>
<html lang="{{ pageLang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Manuel Schächinger</title>
  <!-- icons -->
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="Schächinger">
  <meta name="apple-touch-fullscreen" content="yes">
  <!-- feeds -->
  <link rel="alternate" type="application/atom+xml" title="Manuel Schächinger" href="/blog/feed-atom.xml">
  <!-- assets -->
  <link rel="stylesheet" href="/assets/css/style.css?gc={{ site.github.build_revision }}">
  <!-- language links -->
  {% assign pages = site.pages | where: "ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    {% assign lang = page.lang | default: 'de' %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url | append: page.url }}">
  {% endfor %}
  {% if 'post' == page.layout and page.imagePosition %}
    <!-- post specials -->
    {% assign postImage = site.imageBase | append: page.url | append: "/header-thumb.jpg" %}
    <link rel="image_src" type="image/jpeg" href="{{ postImage }}">
    <meta property="og:image" content="{{ postImage }}">
  {% endif %}
  {% seo title=false %}
</head>

<body class="app">
  <script>window.procStorage = [];</script>
  {% include header.html %}
  <main class="page{% if page.class %} page__{{ page.class }}{% endif %}">
    {{ content }}
  </main>
  {% include footer.html %}
  {% include consent.html %}
  <!-- ga -->
  {% include ga.html %}
  <!-- app code -->
  {% include js.html %}
</body>
</html>
