 <!DOCTYPE html>
<html>
<head lang="de">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Manuel Schächinger</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li{% if page.url == '/' %} class="active"{% endif %}>
          <a href="/">Schächinger</a>
        </li>
        {% for element in site.data.nav %}
          <li{% if page.url contains element.url %} class="active"{% endif %}>
            <a href="{{ element.url }}">{{ element.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main class="page{% if page.class %} page-{{ page.class }}{% endif %}">
    {{ content }}
  </main>
  <footer>
    <ul>
      <li>
        <a href="/imprint">Impressum</a>
      </li>
      <li>
        <a href="/privacy">Datenschutz</a>
      </li>
    </ul>
    <p>&copy; {{ 'now' | date: '%Y' }} Manuel Schächinger. Alle Rechte vorbehalten.</p>
  </footer>
</body>
</html>
