---
layout: default
---
{% assign pageLang = page.lang | default: 'de' %}
<div class="post-image post-image--fullsize">
  <div class="image" style="background-image:url({{ site.imageBase }}/2/hero.jpg)">
    <div class="logo logo--full">
      <h1><span class="colored">Manuel</span>Schächinger</h1>
      <h3>
        <span class="freelancer">Freelancer</span>
        <span class="colored">|</span>
        <span class="js">JavaScript Engineer</span>
      </h3>
    </div>
    <div class="hero-customers">
      <div>
        <div>
          &nbsp;
        </div>
        <div>
          <img src="/assets/images/customers/bmw.png">
        </div>
        <div>
          <img src="/assets/images/customers/luxoft-icon.png">
        </div>
        <div>
          <img src="/assets/images/customers/fonds-finanz.png">
        </div>
        <div>
          <img src="/assets/images/customers/keksfabrik-icon.png">
        </div>
        <div>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
{{ content }}
