---
layout: default
---
<div class="post">
  <img
    src="https://www.schaechinger.com/img{{ page.url }}/header.jpg"
    title="{{ page.title }}"
  />
  <h1>{{ page.title }}</h1>
  <p class="meta meta-date">Datum: {{ page.date | date_to_string }}</p>
  <p class="meta meta-tags">Tags:
    <ul>
      <li>{{ page.category }}</li>
      {% for tag in page.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </p>

  <p class="excerpt">
    {{ page.category }} {{ page.excerpt }}
  </p>

  <div class="content">
    {{ content }}
  </div>

  <div class="share">
    <h2>Post teilen</h2>
    <a href="{{ page.id }}">ID: {{ page.shortkey }}</a>
  </div>
</div>
