---
layout: default
---
<div class="post">
  <div class="post-header post-image post-image--fullsize" style="background-image:url({{ site.imageBase | append: page.url }}/header.jpg);background-position:{{ page.imagePosition | default: 'center' }}">
    <div class="post-header-bg">
      <div class="post-location">
        <p>{{ page.imageLocation }}</p>
      </div>
    </div>
  </div>
  <img src="{{ site.imageBase | append: page.url }}/header-thumb.jpg" style="display:none"/>
  {% assign day = page.date | date: '%d' %}
  {% assign month = page.date | date: '%m' | minus: 0 %}
  {% assign month = site.data.date.months[month] | upcase %}
  {% assign year = page.date | date: '%Y' %}
  {% assign postDate = day | append: '. ' | append: month | append: ' ' | append: year %}

  <div class="post-info">
    <h1>{{ page.title }}</h1>
    <p class="meta meta-date">{{ postDate }}</p>
    <dvi class="meta meta-tags">
      <ul>
        <li>{{ site.data.categories[page.category] }}</li>
        {% for tag in page.tags %}
          <li>{{ site.data.categories[tag] | default: tag }}</li>
        {% endfor %}
      </ul>
    </dvi>
    
    <p class="excerpt">{{ page.excerpt }}</p>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-share">
    <h2>Post teilen</h2>
    <p>
      <a href="{{ page.id }}">ID: {{ page.shortkey }}</a>
    </p>
  </div>
</div>
<script>
  function enableMaps(){if(window.initMaps){initMaps();}}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key={{ site.maps.google.key }}&callback=enableMaps"></script>
