---
layout: default
---
{% assign page.image = site.imageBase | append: page.url | append: '/header.jpg' %}
<div class="post">
  {%if page.imagePosition %}
    <div class="post-header post-image post-image--fullsize" style="background-image:url({{ site.imageBase | append: page.url }}/header.jpg);background-position:{{ page.imagePosition | default: 'center' }}">
      <div class="post-header-bg">
        <div class="post-location">
          <p>{{ page.imageLocation }}</p>
        </div>
      </div>
    </div>
    <img src="{{ site.imageBase | append: page.url }}/header-thumb.jpg" style="display:none"/>
  {% endif %}
  {% if page.draft %}
  <div class="highlight-block">
    <h1 style="text-align:center;font-style:italic;color:#fff">D R A F T</h1>
  </div>
  {% endif %}
  <div class="post-info">
    <h1>{{ page.title }}</h1>
    <div class="meta meta-tags">
      <ul>
        <li>{% include post-category.html category=page.category %}</li>
        {% for tag in page.tags %}
          <li>{% include post-category.html category=tag %}</li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="post-excerpt">
      <div class="post-excerpt__date--desktop">
        {% include post-date.html date=page.date short=1 %}
      </div>
      <div class="post-excerpt__date--mobile">
        {% include post-date.html date=page.date simple=1 %}
      </div>
      <div class="post-excerpt__text">
        <p>{{ page.excerpt }}</p>
      </div>
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-share">
    <h2>Post teilen</h2>
    <ul>
      <li class="twitter">
        <i class="social social-twitter"></i>
        <a href="https://twitter.com/intent/tweet?text=Hier%20ein%20interessanter%20Post%3A&url=https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}t&via=theschaechinger" target="_blank">
          Twitter
        </a>
      </li>
      <li class="facebook">
        <i class="social social-facebook"></i>
        <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}f&t=hat%20gerade%20einen%20interessanten%20Post%20gelesen" target="_blank">
          Facebook
        </a>
      </li>
      <li class="google-plus">
        <i class="social social-google-plus"></i>
        <a href="https://plus.google.com/share?url=https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}g" target="_blank">
          Google+
        </a>
      </li>
      <li class="xing">
        <i class="social social-xing"></i>
        <a href="https://www.xing-share.com/app/user?op=share&sc_p=xing-share&url=https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}x&lang={{ page.lang | default: de }}" target="_blank">
          Xing
        </a>
      </li>
      <li class="linked-in">
        <i class="social social-linked-in"></i>
        <a href="https://linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}l&title={{ page.title }}&summary=Ich%20kann%20diesen%20Post%20empfehlen&source=https://schaechinger.com" target="_blank">
          LinkedIn
        </a>
      </li>
      <li class="mail">
        <i class="social social-e-mail"></i>
          <a href="mailto:?subject={{ page.title }}&body=Hi%2C%0Adiesen%20Post%20kann%20ich%20nur%20empfehlen%3A%20https%3A%2F%2Fschchn.gr%2F{{ page.shortkey }}m">
          E-Mail
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  function enableMaps(){if(window.initMaps){initMaps();}}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key={{ site.maps.google.key }}&callback=enableMaps"></script>
