---
layout: default
title: Resume
description: Here you can find a necessary information about my professional career.
lang: en
class: resume
ref: resume
---
<h1>{{ page.title }}</h1>

<h2>Experience</h2>

<div class="arrow"></div>
<div class="block block-experience">
  <div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.lux-2018 %}
      <ul>
        <li>Implementation of an intelligent assistance system for a German premium automobile manufacturer</li>
      </ul>
    </div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.ff-2017 %}
      <ul>
        <li>Disciplinary and professional leadership of software developers</li>
        <li>Performing the role of the lead developer for company-wide products</li>
        <li>Sparring partner of the product owner for technical questions</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.ff-2014 %}
      <ul>
        <li>Performing the role of the lead developer for the products</li>
        <li>Working in self organized cross-functional product teams</li>
        <li>Collaboration on IT-internal change to agility and the implementation of scrum (member of the pilot project)</li>
      </ul>
    </div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.keks-2013 %}
      <ul>
        <li>Continuity movie production app to support professional production teams during filming and post production</li>
        <li>Metadatenbox: Network tool for Raspberry π to analyze data from cameras, sound devices and for time synchronization</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.mec-2012 %}
      <ul>
        <li>Development of location based apps</li>
        <li>REST backends</li>
      </ul>
    </div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.parker-2007 %}
      <ul>
        <li>Arrangement of team building activities</li>
        <li>Instructing and backing the teams through the exercises</li>
        <li>Managing the teams throughout unfamiliar and extreme situations</li>
      </ul>
    </div>
  </div>
</div>
    
<h2>Studies</h2>

<div class="block block-studies">
  <div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.hm-2009 %}
      <ul>
        <li>Specialization courses: Algorithms and Data Structures, Software Engineering, Artificial Intelligence, Data Privacy and IT Security</li>
      </ul>
    </div>
    <div class="resume-job">
      {% include resume-job.html data=site.data.resume.hm-ba %}
      <ul>
        <li>Topic: Development of the feed reader feader</li>
        <li>Web based Application for device independent consumption and management of feeds<br> <a
          href="/en/projects/feader">Visit project</a></li>
      </ul>
    </div>
  </div>
</div>

<h2>Certifications</h2>

<div class="block block-certifications">
  <div>
    <ul>
      {% for cert in site.data.resume.certifications %}
      <li>
        <a href="{{ cert.url }}" target="_blank">
          {{ cert.title }}{% if cert.year %} ({{ cert.year }}){% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<h2>Skills</h2>

<div class="block block-skills">
  {% for set in site.data.resume.skills %}
    <div class="skill-set">
      <h3>{{ set.title[page.lang] | default: set.title }}</h3>
      <ul class="tags">
        {% for skill in set.skills %}
          <li class="tag">{{ skill[page.lang] | default: skill }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
