html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ClearSans-Bk', $font-stack-helvetica;
}

.app,
.page {
  @include clearfix;
}

.page {
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @include column-margin;
  }

  .center {
    text-align: center;
  }

  .space-block {
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;

    h1,
    h2,
    h3 {
      margin-top: 0;
    }
  }
}
