html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  transition: background-color 0.125s ease-in-out;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ClearSans-Bk", $font-stack-helvetica;
  word-wrap: break-word;

  span.brm {
    display: none;

    @include grid-media($mobile-only) {
      display: inline;
    }
  }
}

.app,
.page {
  @include clearfix;
}

.page {
  > div:first-child {
    margin-top: 1.25rem;

    @include grid-media($desktop) {
      margin-top: 2.5rem;
    }
  }

  &:not(&__home) {
    padding-top: 3rem;
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @include column-margin;

    max-width: 100%;
  }

  .center {
    text-align: center;
  }

  .space-block {
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    h1,
    h2,
    h3 {
      margin-top: 0;
    }
  }

  .text {
    @include outer-container;

    &__container {
      @include grid-column(12);
    }

    &__container + .text__container {
      margin-top: 1.25rem;
    }
  }

  .contact {
    @include outer-container;

    &__container {
      @include media-columns(12, 8, 6);
      @include media-push(0, 2, 3);
    }
  }
}
