h1,
h2,
h3,
h4 {
  color: $blue;
  font-weight: normal;
}

h2,
h3,
h4 {
  font-family: 'ClearSans', 'ClearSans-Bk', $font-stack-helvetica;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2.25rem;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
