span.glyphicons {
  display: inline-block;
  height: 1.125em;
  position: relative;
  top: 0.125em;
  width: 1.125em;

  &.glyphicons-xing {
    height: 0.8889em;
    top: 0.0625em;
    width: 0.8889em;
  }

  svg {
    fill: currentColor;
  }
}
