@import 'mvvline';

.page.page__projects {
  .intro {
    @include outer-container;
    
    &__container {
      @include media-columns(12);
    }
  }

  .filters {
    @include outer-container;

    &__container {
      @include media-columns(12);

      padding-bottom: 0.25rem;
    }

    ul.types {
      display: block;
      margin: 0;
      padding: 0;

      @include grid-media($mobile-only) {
        @include grid-collapse;

        li.type {
          @include media-columns(6);

          padding-top: 0.25rem;
        }
      }

      li.type {
        display: inline-block;

        span {
          color: $gray;
          margin-right: 0.125rem;
        }
        
        a {
          border-bottom-width: 0;
          color: $gray;
          // cursor: pointer;
          display: inline-block;
          padding: 0.5rem 2.5rem 0.5rem 0;
          position: relative;

          &::before {
            border-bottom: 2px solid $blue;
            bottom: -0.25rem;
            content: '';
            height: 0;
            left: 0;
            position: absolute;
            transition: width 0.125s ease-in-out;
            width: 0;
          }
        }

        &--active a {
        // a:hover {
          color: $black;

          &::before {
            width: 2rem;
          }
        }
      }
    }
  }

  .projects {
    border-top: 1px solid $gray-middle;

    &__container {
      @include outer-container;
    }

    .project {
      @include media-columns(12, 9);

      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
      position: relative;

      h3 {
        position: relative;

        &::before {
          border-bottom: 3px solid $blue;
          bottom: -0.25rem;
          content: '';
          height: 0;
          left: -1rem;
          position: absolute;
          transition: width 0.125s ease-in-out;
          width: 8rem;
        }
      }

      &__tags {
        margin: 0;
        padding: 0.25rem 0 1rem 0;

        li.tag {
          color: $blue-dark;
          display: inline-block;
          font-weight: bold;

          &:not(:last-of-type)::after {
            content: ',';
            padding-right: 0.25rem;
          }
        }
      }

      &__more {
        @include grid-collapse;

        padding-top: 0.5rem;

        p {
          color: $gray;
          
          &.year {
            @include media-columns(12, 3);
          }

          &.roles {
            @include media-columns(12, 4);

            span:not(:last-of-type)::after {
              content: ',';
              padding-right: 0.125rem;
            }
          }

          &.customer {
            @include media-columns(12, 5);

            color: $gray-middle;
            padding-left: 2.75rem;
            position: relative;

            .glyphicons {
              font-size: 2rem;
              left: 0;
              position: absolute;
              top: 0.375rem;
            }
          }

          strong {
            color: $black;
            display: block;
            font-size: 0.875rem;
            font-weight: normal;
            padding-bottom: 0.25rem;
            text-transform: uppercase;
          }
        }
      }

      @include grid-media($tablet) {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;

        &:not(:first-of-type)::before {
          content: '';
          width: 10rem;
          height: 0;
          border-bottom: 1px solid $gray-middle;
          position: absolute;
          left: calc(66.667% - 5rem);
          top: -2.5rem;
        }

        &:nth-of-type(2n) {
          @include media-push(0, 3);

          &::before {
            left: calc(33.333% - 5rem);
          }

          h3::before {
            left: auto;
            right: -1rem;
          }

          h3,
          .project__tags {
            text-align: right;
          }
        }
      }
    }
  }
}
