.page.page__transport-kit {
  padding-top: 0;
  position: relative;

  h1 {
    display: inline-block;
    left: calc(50% - 20rem);
    position: absolute;
    text-align: center;
    top: 3.5rem;
    width: 40rem;
    z-index: 400;
  }

  .transport-kit {
    &__light,
    &__dark {
      @include clearfix;
      padding: 10rem 1.25rem 4.5rem 1.25rem;
      z-index: 100;

      @include grid-media($tablet) {
        display: inline-block;
        overflow-x: hidden;
        width: 50%;

        > div {
          @include clearfix;

          padding: 3.5rem 0;
          position: relative;

          h2,
          h3 {
            font-family: $font-clearsans-bk;
          }

          h2,
          h3,
          p {
            display: inline-block;
            position: absolute;
            text-align: center;
            top: 0;
            width: 40rem;
            z-index: 0;
          }
        }
      }
    }

    &__dark {
      background-color: $black;
      color: $white;

      @include grid-media($tablet) {
        left: 0;
        text-align: right;

        span[class^="transportkit-"] {
          margin-left: 0.5rem;
          margin-right: 0;
        }

        h2,
        h3,
        p {
          right: -21.25rem;
        }
      }

      @include grid-media($mobile-only) {
        .transport-kit-link {
          display: none;
        }
      }
    }

    &__light {
      @include grid-media($tablet) {
        span[class^="transportkit-"] {
          margin-right: 0.5rem;
        }

        h2,
        h3,
        p {
          left: -21.25rem;
        }
      }

      @include grid-media($mobile-only) {
        padding-bottom: 0;
        padding-top: 2.5rem;

        .transport-kit-text {
          display: none;
          margin: 0;
          visibility: hidden;
        }

        .transport-kit-sbahn {
          margin-top: 0;
        }
      }
    }
  }
}
